<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <section id="logon">
  <img src="https://i.postimg.cc/mTq4Gphs/edignitelogo-png.jpg" class="logo">
  <mark><h1>EDIGNITE-GROUPS</h1></mark> 
  </section>
  <div id="navbar">
    <a class="active" href="/" href="javascript:void(0)">Home</a>
    <a href="/compose" href="javascript:void(0)">join now</a>
    <a  href="/about" href="javascript:void(0)">About us</a>
    <a  href="/team" href="javascript:void(0)">Team members</a>
    <a  href="/contact" href="javascript:void(0)">contact us</a>
    <a  href="/feedback" href="javascript:void(0)">Moments</a>
  </div>
<nav id="side">
    <ul>
        <li><a href="#aboutus">history</a></li>
        <li><a href="#aboutus2">about children</a></li>
        <li><a href="#aboutus3">team members</a></li>
    </ul>
</nav>
<img src="https://marketing.dcassetcdn.com/blog/2016/March/icons-vs-logos/Hamburger-Icon_300.png" id="menu">
<script>
    var menu=document.getElementById("menu");
    var side=document.getElementById("side");
    side.style.right="-250px";
    menu.onclick=function(){
        if(side.style.right=="-250px"){
            side.style.right="0px"
        }
        else{
            side.style.right="-250px"
        }
    }
  var scroll = new SmoothScroll('a[href*="#"]');
  window.onscroll = function() {myFunction()};

   var navbar = document.getElementById("navbar");
   var sticky = navbar.offsetTop;

  function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
    </script>
   <!--<section id="aboutus">
    <img id="pho" style="width:800px;padding-right:500px;" src="https://i.postimg.cc/28LYShXN/IMG-20200421-WA0007.jpg">
    <div class="header-text">
        <h1><big><strong>HISTORY</strong></big></h1>
        <span class="square"></span>
        <p><big><i>
            The founder of the group. Prince Verma had been enlightening the necessitous children for two years before the establishment of the group. It was on 16 June 2019 that the official group with the name 'Social India' was started. Since then it has been progressing swiftly and is now enlightening/enlightened over 60 children. It came up with its tagline 'HOPE FOR OTHER' in December 2019. It was January 2020 when it changed to Edignite Educational and charitable trust and had applied for registering itself as an NGO. Apart from the needy, the group has also thought about the welfare of students of the institute and has come up with many applications, Youtube videos. Notes..for the same. The group now has 20 to 25 volunteers and is still expanding.
        </p></big></i>
      
        <div class="line">
            <span class="line-1"></span><br>
            <span class="line-2"></span><br>
            <span class="line-3"></span><br>
        </div>
    </div>
</section>-->
    <div class="social">
      <a href="https://www.instagram.com/invites/contact/?i=1uc91cbq7mh66&utm_content=6wctbpu"><img src="http://pluspng.com/img-png/instagram-png-instagram-icon-png-50-px-512.png"></img></a>
      <a href="https://m.facebook.com/socialindiagroup.in/?ref=bookmarks"><img src="https://www.expectmorearizona.org/wp-content/uploads/2016/11/facebook-png-icon-follow-us-facebook-1.png"></img></a>
      <a href="https://www.linkedin.com/in/ed-ignite-6767071a3"><img src="https://sguru.org/wp-content/uploads/2018/02/linkedin-png-linkedin-icon-1600.png"></img></a>
      <a href="https://youtu.be/HGlA2UV-lQI"><img src="http://logok.org/wp-content/uploads/2014/08/Youtube-logo-2017.png"></img></a>
      <a href="https://twitter.com/Edignite1?s=08"><img src="https://acxcom.files.wordpress.com/2015/04/twitter_logo_blue.png"></img></a>
      <a href="https://pin.it/klcFa7D"><img src="http://pngimg.com/uploads/pinterest/pinterest_PNG63.png"></img></a>
      <a href="https://en.wikipedia.org/wiki/Edignite"><img src="https://hotforsecurity.bitdefender.com/wp-content/uploads/2015/08/Wikipedia-en-logo-ball-upright-hole.png"></img></a>
    </div>
    <div class="container" style="background-color: rebeccapurple;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="https://i.postimg.cc/HxGBScLD/IMG-20200423-WA0038.jpg" alt="Los Angeles" style="width:100%;">
              <div class="carousel-caption">
                <h3>History</h3>
                <p> The founder of the group. Prince Verma had been enlightening the necessitous children for two years before the establishment of the group. It was on 16 June 2019 that the official group with the name 'Social India' was started. Since then it has been progressing swiftly and is now enlightening/enlightened over 60 children. It came up with its tagline 'HOPE FOR OTHER' in December 2019. It was January 2020 when it changed to Edignite Educational and charitable trust and had applied for registering itself as an NGO. Apart from the needy, the group has also thought about the welfare of students of the institute and has come up with many applications, Youtube videos. Notes..for the same. The group now has 20 to 25 volunteers and is still expanding.</p>
              </div>
            </div>
            <div class="item">
              <img src="https://i.postimg.cc/28LYShXN/IMG-20200421-WA0007.jpg" alt="New york" style="width:100%;">
              <div class="carousel-caption">
                  <h5>About Children</h5>
                <p>We are teaching the needy children since long. They are really adorable and innocent, unaware of the outside world. They often welcome us delightfully whenever we go to teach them. often we are offered hand made cards/gifts and also tasty meals cooked at their homes.apart from this they are so connected to us that they want to spend a maximum of their time in gaining knowledge from us. We hope that we may be remembered forever by children in case we depart.</p>
              </div>
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/3Rqqsbh4/IMG-20200423-WA0046.jpg" alt="Chicago" style="width:100%;">
                <div class="carousel-caption">
                  </div>
              </div>
          </div>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <style>
        body{
          background-color: rebeccapurple;
        }
      </style>
    <!--<section id="aboutus2">
      <img id="pho" style="width:800px;padding-right:500px;" src="https://i.postimg.cc/prggFc1b/IMG-20200423-WA0037.jpg">
        <div class="header-text">
            <h1><big><strong>About Childran</strong></big></h1>
            <span class="square"></span>
            <p><big><i> We are teaching the needy children since long. They are really adorable and innocent, unaware of the outside world. They often welcome us delightfully whenever we go to teach them. often we are offered hand made cards/gifts and also tasty meals cooked at their homes.apart from this they are so connected to us that they want to spend a maximum of their time in gaining knowledge from us. We hope that we may be remembered forever by children in case we depart. </p></big></i><br>
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span><br>
            </div>
        </div>
    </section>
    <section id="aboutus3">
        <img id="pho" style="width:800px;padding-right:500px;"src="https://i.postimg.cc/3Rqqsbh4/IMG-20200423-WA0046.jpg">
          <div class="header-text">
              <h1><big><strong>about us</strong></big></h1>
              <span class="square"></span>
              <q><blockquote><big> 
              <div class="line">
                  <span class="line-1"></span><br>
                  <span class="line-2"></span><br>
                  <span class="line-3"></span><br>
              </div>
          </div>
      </section>-->
    <section id="features">
        <div class="row">
            <div class="col">
            <img src="https://img.pngio.com/collection-of-free-transparent-logo-book-download-on-ui-ex-png-books-black-and-white-400_400.png"></img>
            <h4>Education</h4>
            <q>Provides education to those who can't afford</q>
            </div>
            <div class="col">
            <img src="https://www.shareicon.net/data/512x512/2016/02/27/725856_people_512x512.png"></img>
            <h4>Children</h4>
            <q>children are the future </q>
            </div>
            <div class="col">
            <img src="https://cdn4.iconfinder.com/data/icons/significon/512/Significon-Bulb-512.png"></img>
            <h4>enlightment</h4>
            <q>Education is the powerful weapon to change the world</q>
            </div>
            <div class="col">
                <img src="https://image.flaticon.com/icons/png/512/27/27705.png"></img>
                <h4>NGO</h4>
                <q>Edignite is a NGO group</q>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
    <div class="align">
    <p> @2020 Edignite Made by @Sankirtana</p>
     </div>  
  </section>
</div>
</body>
</html>