<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
   
</head>
<body>
    <script>
        var menu=document.getElementById("menu");
        var side=document.getElementById("side");
        side.style.right="-250px";
        menu.onclick=function(){
            if(side.style.right=="-250px"){
                side.style.right="0px"
            }
            else{
                side.style.right="-250px"
            }
        }
      var scroll = new SmoothScroll('a[href*="#"]');
      window.onscroll = function() {myFunction()};
       var navbar = document.getElementById("navbar");
       var sticky = navbar.offsetTop;
      function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
      } else {
      dropdownContent.style.display = "block";
      }
      });
    }
    let slideIndex = 1;
        showSlides(slideIndex);
        function changeSlide(n) {
            showSlides(slideIndex += n);
        }
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
        setInterval("showSlides(++slideIndex)", 3000);
        function showSlides(n) {
            let i, slides, dots;
            slides = document.getElementsByClassName("carousel-item");
            dots = document.getElementsByClassName("indicator");
            if (n > slides.length) {slideIndex = 1;}
            if (n < 1) {slideIndex = slides.length;}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }
    </script>
    <nav class="navbar navbar-expand-lg static-top"style="background-color:lightgoldenrodyellow;">
        <div class="container">
          <a class="navbar-brand" href="#">
                <img src="https://i.postimg.cc/mTq4Gphs/edignitelogo-png.jpg" style="width:100px;" alt="">
              </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/"><p  style="color: black;">Home</p>
                      <span class="sr-only">(current)</span>
                    </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#aboutus123"><p  style="color: black;">About</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#team"><p  style="color: black;">Team</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#contact1"><p  style="color: black;">Contact</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#carousel-example-2"><p  style="color: black;">Know Us</p></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<script>
  window.onscroll = function() {myFunction()};

   var navbar = document.getElementById("navbar");
   var sticky = navbar.offsetTop;

  function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
    </script>
   <section class="join">
    <div class="container">
      <h2><big>Join as a volunteer</big></h2>
      <form action="/compose" method="POST" autocomplete="off">
        <div class="form-group">
          <label for="name"><p><big>Name:</p></big></label>
          <input type="text" class="form-control" id="text" placeholder="Enter name" name="name">
        </div>
        <div class="form-group">
          <label for="email"><p><big>Email:</p></big></label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
          <label for="phone"><p><big>Phone number:</p></big></label>
          <input type="text" class="form-control" id="phone" placeholder="Enter phonenumber" name="phone">
        </div>
        <div class="form-group">
          <label for="occ"><p><big>Occupation:</p></big></label>
          <input type="text" class="form-control" id="occ" placeholder="Enter your occupation"  name="occ">
        </div>
        <div class="form-group">
          <label for="work"><p><big>work experience:</p></big></label>
          <br><textarea name="work" id="work" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
          <label for="intro"><p><big>short introduction about yourself:</p></big></label>
         <br><textarea name="intro" id="intro" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
          <label for="hi"><p><big>write about your hobbies/interests:</p></big></label>
          <br><textarea name="hi" id="hi" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">JOIN</button>
      </form>
    </div>                     
</section>
    <div class="social">
      <a href="https://www.instagram.com/invites/contact/?i=1uc91cbq7mh66&utm_content=6wctbpu"><img src="http://pluspng.com/img-png/instagram-png-instagram-icon-png-50-px-512.png"></img></a>
      <a href="https://m.facebook.com/socialindiagroup.in/?ref=bookmarks"><img src="https://www.expectmorearizona.org/wp-content/uploads/2016/11/facebook-png-icon-follow-us-facebook-1.png"></img></a>
      <a href="https://www.linkedin.com/in/ed-ignite-6767071a3"><img src="https://sguru.org/wp-content/uploads/2018/02/linkedin-png-linkedin-icon-1600.png"></img></a>
      <a href="https://youtu.be/HGlA2UV-lQI"><img src="http://logok.org/wp-content/uploads/2014/08/Youtube-logo-2017.png"></img></a>
      <a href="https://twitter.com/Edignite1?s=08"><img src="https://acxcom.files.wordpress.com/2015/04/twitter_logo_blue.png"></img></a>
      <a href="https://pin.it/klcFa7D"><img src="http://pngimg.com/uploads/pinterest/pinterest_PNG63.png"></img></a>
      <a href="https://en.wikipedia.org/wiki/Edignite"><img src="https://hotforsecurity.bitdefender.com/wp-content/uploads/2015/08/Wikipedia-en-logo-ball-upright-hole.png"></img></a>
    </div>
    <center><section id="features">
        <div class="row">
            <div class="col">
            <img src="https://img.pngio.com/collection-of-free-transparent-logo-book-download-on-ui-ex-png-books-black-and-white-400_400.png"></img>
            <h4>Education</h4>
            <q>Provides education to those who can't afford</q>
            </div>
            <div class="col">
            <img src="https://www.shareicon.net/data/512x512/2016/02/27/725856_people_512x512.png"></img>
            <h4>Children</h4>
            <q>children are the future </q>
            </div>
            <div class="col">
            <img src="https://cdn4.iconfinder.com/data/icons/significon/512/Significon-Bulb-512.png"></img>
            <h4>enlightment</h4>
            <q>Education is the powerful weapon to change the world</q>
            </div>
            <div class="col">
                <img src="https://image.flaticon.com/icons/png/512/27/27705.png"></img>
                <h4>NGO</h4>
                <q>Edignite is a NGO group</q>
                </div>
            </div>
        </div>
        
    </section></center>
  
    <footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: lightgoldenrodyellow;">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-4 mx-auto">
      
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
              <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                consectetur
                adipisicing elit.</p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none">
      
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
      
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none">
      
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
      
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none">
      
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <hr>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
      </footer>
</body>
</html>