<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
   
</head>
<body>
  <section id="logon">
     <img src="https://i.postimg.cc/mTq4Gphs/edignitelogo-png.jpg" class="logo">
       <mark><h1>EDIGNITE-GROUPS</h1></mark> 
  </section>
  <div id="navbar">
    <a class="active" href="/" href="javascript:void(0)">Home</a>
    <a href="/compose" href="javascript:void(0)">join now</a>
    <a  href="/about" href="javascript:void(0)">About us</a>
    <a  href="/contact" href="javascript:void(0)">contact us</a>
    <a  href="/feedback" href="javascript:void(0)">Moments</a>
  </div>
   <div class="content">
<section id="header">
    <div class="container">
      <img src="https://i.postimg.cc/PJxt474C/edignite-nice-pic.jpg">
        <div class="header-text">
            <h1>Message from founder</h1>
            <span class="square"></span>
            <p><big><i>
              Social India group always works for the needy of the nation. The group aims at providing all help to the necessitous people of the nation. Apart from education, the group tries to provide spread smiles amongst children by celebrating many festivals, playing, making them participate in several events and thus spending a good amount of time with them. Thus, the group also aims at building a strong relationship with the children which can, in the future lead to their betterment.

              The group volunteers are on toes to help the underprivileged children and believe service to them as their duty towards the nation and thus the globe. This virtue of selflessness is the thing I like the most about the group. Working with volunteers for the betterment of the children and interacting with several needy ones adds to experiences and memories that can never be erased from my life, I hope all the readers to do some work that benefits the society, nation and the world, may it be small help or toughest job of eradicating poverty. My best wishes are always there with everyone.
            </p></big></i>
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span><br>
            </div>
        </div>
    </div>
</section>
<nav id="side">
    <ul>
        <li><button class="dropdown-btn">PLACES WE GO
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="#maps4">NILAM SOCIETY</a>
          <a href="#maps">CITYLIGHTS</a>
          <a href="#maps5">FLORAL GARDEN</a>
          <a href="#maps1">E QUARTERS</a>
          <a href="#maps6">KARGIL CHOWK</a>
          <a href="#maps3">PAWAL,GURGAON</a>
          <a href="#maps2">EDIGNITE KAKSHA</a>
        </div></li>
        <li><button class="dropdown-btn">HELPING HAND
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="#case7">CLOTH DISTRIBUTION</a>
          <a href="#case6">SLIPPER DISTRIBUTION</a>
          <a href="#case5">STUDY MATERIAL DISTRIBUTION</a>
          <a href="#case4">BOOK FAIR</a>
          <a href="#case2">CYCLE DISTRIBUTION</a>
          <a href="#case3">SCHOOL ADMISSION</a>
          <a href="#case1">CLEANLINESS DRIVE</a>
          <a href="#case8">AWARENESS PROGRAM</a>
        </div>
      </li>
        <li><a href="#food">food distribution</a></li>
        <li><button class="dropdown-btn">MAKING CHILDREN PAR WITH OTHERS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="#map1">COMPETITIVE EXAM PREPARATION</a>
          <a href="#map2">DANCING,PERFORMANCE,DRAWING COMPETITION,WORKSHOPS</a>
          <button class="dropdown-btn">STUDENT WELFARE
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a href="#map3">BUS TRACKING APPLICATION</a>
          </div>
        </div>
      </li>
      <li><button class="dropdown-btn">CELEBRATING WITH CHILDREN
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="#map5">BIRTHDAY CELEBRATIONS</a>
        <a href="#map6">FESTIVAL CELEBRATIONS</a>
      </div>
    </li>
        <li><button class="dropdown-btn">EDUCATIONAL INSPIRATION
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="#map11">ABDUL MALIK</a>
          <a href="#map8">RAJESH KUMAR SHARMA</a>
          <a href="#map9">ADITYA KUMAR</a>
          <a href="#map10">ANAND KUMAR</a>
        </div>
      </li>
    </ul>
</nav>
<img src="https://marketing.dcassetcdn.com/blog/2016/March/icons-vs-logos/Hamburger-Icon_300.png" id="menu">
<script>
    var menu=document.getElementById("menu");
    var side=document.getElementById("side");
    side.style.right="-250px";
    menu.onclick=function(){
        if(side.style.right=="-250px"){
            side.style.right="0px"
        }
        else{
            side.style.right="-250px"
        }
    }
  var scroll = new SmoothScroll('a[href*="#"]');
  window.onscroll = function() {myFunction()};
   var navbar = document.getElementById("navbar");
   var sticky = navbar.offsetTop;
  function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;
for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>
    <section id="place">
       <img id="pic" style="width:400px"  src="https://i.postimg.cc/zDyDyVd5/20200421-141653-1.jpg" >
       <img  id="pic" style="width:400px" src="https://i.postimg.cc/s2V9L9k0/20200421-141558.jpg" >
       <img  id="pic" style="width:400px" src="https://i.postimg.cc/MTMkpjzF/20200421-141711-1.jpg" ><br>
       <img  id="pic" style="width:400px" src="https://i.postimg.cc/T1Wrbkbh/20200421-141535-1.jpg" >
       <img  id="pic" style="width:400px" src="https://i.postimg.cc/QtF66J5Z/20200421-141510-3.jpg" >
       <img  id="pic" style="width:400px" src="https://i.postimg.cc/4yzQMLxq/20200421-141738-2.jpg" >
        <div class="text">
          <h1><big><em>Places We Go</em></big></h1>
          <span class="square"></span>
          <p><big><i>
            There are many places where we go to teach children. The places they live in are pitiful(a rookery to describe in a word). We can't imagine spending our daily routine in such a muddled place. The places they live in represent the dark side of this beautiful world. We pray to God no more gives this kind of suffering to anyone. Thus teaching children and bringing them and their families to a better place is one of our goals.
          </p></big></i>
          <br><br><div class="line">
              <span class="line-1"></span><br>
              <span class="line-2"></span><br>
              <span class="line-3"></span><br>
          </div>
       </div>
     </section>
  <section id="maps">
    <div class="header-text">
        <h1><big><strong> CityLights </strong></big></h1>
        <span class="square"></span>
        <p><big><i>
          We teach children at city lights area under the road bridge. Some children live in series over huts opposite to it which are just big enough to fit a few people. Many of them also do not have a shelter and have made place under the bridge heir home. Let us hope that these children study hard and take themselves and their families out of this miserable condition.
        </p></big></i>
        <div class="line">
            <span class="line-1"></span><br>
            <span class="line-2"></span><br>
            <span class="line-3"></span><br>
        </div>
    </div>
</section>
<br>
    <br>
    <br>
    <br>
    <br>
    <div class="social">
      <a href="https://www.instagram.com/invites/contact/?i=1uc91cbq7mh66&utm_content=6wctbpu"><img src="http://pluspng.com/img-png/instagram-png-instagram-icon-png-50-px-512.png"></img></a>
      <a href="https://m.facebook.com/socialindiagroup.in/?ref=bookmarks"><img src="https://www.expectmorearizona.org/wp-content/uploads/2016/11/facebook-png-icon-follow-us-facebook-1.png"></img></a>
      <a href="https://www.linkedin.com/in/ed-ignite-6767071a3"><img src="https://sguru.org/wp-content/uploads/2018/02/linkedin-png-linkedin-icon-1600.png"></img></a>
      <a href="https://youtu.be/HGlA2UV-lQI"><img src="http://logok.org/wp-content/uploads/2014/08/Youtube-logo-2017.png"></img></a>
      <a href="https://twitter.com/Edignite1?s=08"><img src="https://acxcom.files.wordpress.com/2015/04/twitter_logo_blue.png"></img></a>
      <a href="https://pin.it/klcFa7D"><img src="http://pngimg.com/uploads/pinterest/pinterest_PNG63.png"></img></a>
      <a href="https://en.wikipedia.org/wiki/Edignite"><img src="https://hotforsecurity.bitdefender.com/wp-content/uploads/2015/08/Wikipedia-en-logo-ball-upright-hole.png"></img></a>
    </div>
    <section id="maps1">
        <div class="right"></div>
        <div class="text">
            <h1><big><strong>E Quarters</strong></big></h1>
            <span class="square"></span>
            <q><blockquote>We teach children of the staff of the institute at the E Quarters. The condition here is the least miserable. Children here at least have a concrete shelter over them. The children here get a favourable study environment. But still, this isn't at par with the place where the privileged life. They may improve their lifestyle by studying hard. We hope for the best.....<big>
            </big></blockquote></q><br>
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span><br>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
  <section id="maps2">
        <div class="header-text">
            <h1><big>Edignite Kaksha</big></h1>
            <span class="square"></span>
            <p><big><i><em><b>
              A piece of good conceptual knowledge from class 8 is a must for laying foundations for career in any field. We thus decided to have a separate place wherein only students from class 8 to class12 are taught . This not only helps them in learning easily with their fellow mates but also helps us to give each student personal attention. We thus give a lot of our efforts in imparting knowledge to the students of Edignite Edignite kaksha and regularly go to teach them at a girl's house near Ichchhanath temple.  
            </b></em></p></big></i>
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span><br>
            </div>
        </div>
   </section>
   <br>
    <br>
    <br>
    <br>
    <br>
  <section id="maps3">
        <div class="text">
            <h1><big>Palwal, Gurgaon</big></h1>
            <span class="square"></span>
            <p><big><b>The founder of the group also teaches children at his hometown Palwal, Haryana and had taught some in Gurgaon, Haryana. The place at Gurgaon was a cowshed. Here the kids are really ignorant and some also not admitted in schools. We hope that these kids strive for gaining a good education and be at a better place then they are now.
            </p></big></b>          
                <div class="line"><br><br>
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span><br>
            </div>
        </div>
   </section>
   <br>
    <br>
    <br>
    <br>
    <br>
  <section id="maps4">
        <div class="header-text">
            <h1><big>Nilam Society</big></h1>
            <span class="square"></span>
            <p><big><i><em><b>
              We also teach children living in slums near Nilam society. The condition there is a little less miserable as all the children have a shelter above them. The place is a cluster of huts. But at that place is a garbage heap which is never cleaned up till date. Even the place is shabby one with no sufficient light in the night time. This makes the study environment at the place unfavourable. But ts unfavourable environment also motivates the children living there to study hard and have a better living.
            </p></big></i></em></b>
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span><br>
            </div>
        </div>
   </section>
   <br>
    <br>
    <br>
    <br>
    <br>
  <section id="maps5">
        <div class="text">
            <h1><big>Floral Garden</big></h1>
            <span class="square"></span>
            <p><big><i><em><b>
              The place we teach is the slums near the floral garden. Just like that of Nilam society, it is a dense cluster of huts. Here we teach children under a shack, a good place to teach them. Once again we would pray to God that these young innocent minds take themselves, their family and nation towards enlightenment.
            </b></em></i></big></p>
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span><br>
            </div>
        </div>    
      </section>
      <br>
    <br>
    <br>
    <br>
    <br>
    <section id="maps6">
        <div class="header-text">
            <h1><big>Kargil Chowk</big></h1>
            <span class="square"></span>
            <p><big><i><em><b>
              This is the place at slums near Kargil Chowk. The place just like the slums near Nilam Society is a dense cluster of shacks with constant water leaks in some houses. The condition here is as miserable as that of Nilam Society. Here we teach 3 to 6 kids either at their home or at a terrace. We hope that the kids study and make living conditions at this place better.

            </b></em></i></big></p>
            <div class="line">
                <span class="line-1"></span><br>
                <span class="line-2"></span><br>
                <span class="line-3"></span><br>
            </div>
        </div>
    </section>
    <section id="case">
        <img src="https://i.postimg.cc/vBRRczNZ/20200422-004011.jpg" >
      <div class="text">
        <h1><big><em>Extending a Helping Hand for others...</em></big></h1>
    </div>
    </section>
    <section id="case1">
      <img  id="pho" style="width:500px" src="https://i.postimg.cc/R0D2Jzgm/IMG-20200423-WA0007.jpg" >
      <div class="text">
        <h1><big><em>Cleanliness drive</em></big></h1>
        <span class="square"></span>
        <p><big><i><em><b>
          The children we teach maintain a little cleanliness and hygiene. Cleanliness drive teaching children basic sweeping, washing hands and using bins etc. The children showed great enthusiasm in learning all these things and implementing them in their day to day life. Hope they implement all the good things in their life.
        </b></em></i></big></p>
        <br><br><div class="line">
            <span class="line-1"></span><br>
            <span class="line-2"></span><br>
            <span class="line-3"></span><br>
        </div>
     </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id="case2">
      <img  id="pho" style="width:500px" src="https://i.postimg.cc/vTdq589J/IMG-20200423-WA0009.jpg" >
      <div class="text">
        <h1><big><em>Cycle Distribution</em></big></h1>
        <span class="square"></span>
        <p><big><i><em><b>
          It is really important for one to be physically fit for working efficiently. Thus to realize this is the group had collected some discarded bicycles from the institute and distributed them to the children. this is not only helped a child in recreation but also helped to commute from place to place faster. Once again, Thank you, donors!!!
        </b></em></i></big></p>
        <br><br><div class="line">
            <span class="line-1"></span><br>
            <span class="line-2"></span><br>
            <span class="line-3"></span><br>
        </div>
      </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id="case3">
     <img  id="pho" style="width:500px" src="https://i.postimg.cc/Jz7FThgm/IMG-20200423-WA0008.jpg" >
         <div class="text">
           <h1><big><em>School Admission</em></big></h1>
           <span class="square"></span>
           <p><big><i><em><b>
            We witnessed many children not admitted to the school. It was due to low income of the family or lack of awareness of parents. Thus we made a decision to admit each and every child to school. So far many children have been admitted to the school. Many are remaining but we expect them to get admitted very soon.
           </b></em></i></big></p>
           <br><br><div class="line">
          <span class="line-1"></span><br>
          <span class="line-2"></span><br>
          <span class="line-3"></span><br>
       </div>
     </div>
   </section>
   <br>
    <br>
    <br>
    <br>
    <br>
   <section id="case4">
     <img  id="pho" style="width:500px" src="https://i.postimg.cc/j2XXNHRf/IMG-20200423-WA0010.jpg" >
       <div class="text">
         <h1><big><em>Book Fair</em></big></h1>
         <span class="square"></span>
         <p><big><i><em><b>
          The children, knowing little about the literature were brought to the book fair which helped them in broadening their thoughts and views. A child was gifted a few books to help her know more about life and how to succeed in life. Once again the donors helped a lot to make the child stride from darkness to light.
         </b></em></i></big></p>
         <br><br><div class="line">
          <span class="line-1"></span><br>
          <span class="line-2"></span><br>
          <span class="line-3"></span><br>
         </div>
       </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
   <section id="case5">
       <img  id="pho" style="width:500px" src="https://i.postimg.cc/ZYFj1S6q/IMG-20200423-WA0011-1.jpg" >
        <div class="text">
         <h1><big><em>Study Material Distribution</em></big></h1>
         <span class="square"></span>
         <p><big><i><em><b>
         The low income of children is also a barrier to accessing good education. Even a cheaper book is unaffordable for them. Thus we distributed many second-hand reference books and textbooks to children which were collected from students from outside and from the institute.
         The book donors did a splendid job by helping children strive towards enlightenment.
          </b></em></i></big></p>
          <br><br><div class="line">
         <span class="line-1"></span><br>
         <span class="line-2"></span><br>
         <span class="line-3"></span><br>
        </div>
       </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id="case6">
       <img  id="pho" style="width:500px" src="https://i.postimg.cc/GhLzR5jx/IMG-20200423-WA0012.jpg" >
         <div class="text">
           <h1><big><em>Slipper Distribution</em></big></h1>
             <span class="square"></span>
               <p><big><i><em><b>
                Walking barefoot is extremely hot weather is really a painful task. Thus it was decided to relieve innocent children from this pain and gift them a pair of slippers.

               Funds were raised for the Slippers distribution derive and many pairs were brought from it. It is once again a kind gesture of all donors that now children don't walk barefoot.
               </b></em></i></big></p>
               <br><br><div class="line">
              <span class="line-1"></span><br>
              <span class="line-2"></span><br>
              <span class="line-3"></span><br>
          </div>
         </div>
      </section>
      <br>
    <br>
    <br>
    <br>
    <br>
      <section id="case7">
        <img  id="pho" style="width:500px" src="https://i.postimg.cc/yx2zzNrK/IMG-20200423-WA0013-1.jpg" >
          <div class="text">
            <h1><big><em>Cloth Distribution</em></big></h1>
              <span class="square"></span>
                <p><big><i><em><b>
                  Blocking, a basic necessity wasn't getting fulfilled for the children living in slums. We thus organised a cloth distribution drive where we collected the discarded clothes from the students and staff at the institute and distributed among the needy. We also organised a  winter cloth distribution drive where we had brought winter clothes from the funds raised for the same. The children of Nilam society are really very grateful to all donors.
                </b></em></i></big></p>
                <br><br><div class="line">
               <span class="line-1"></span><br>
               <span class="line-2"></span><br>
               <span class="line-3"></span><br>
           </div>
          </div>
       </section>
       <br>
    <br>
    <br>
    <br>
    <br>
       <section id="case8">
        <img  id="pho" style="width:500px" src="https://i.postimg.cc/76D6pKJ9/20200505-173147.jpg" >
          <div class="text">
            <h1><big><em>Awarness Program</em></big></h1>
              <span class="square"></span>
              <p><big><i><em><b>
                We had also conducted an awareness program for kids and parents informing them bout career opportunities in future. The presentation also included some cleanliness time management and result in analysis tips. Apart from this we also gave some guidelines on effective parenting. The parents were really grateful for such an uprising presentation.
                </b></em></i></big></p>
                <br><br><div class="line">
               <span class="line-1"></span><br>
               <span class="line-2"></span><br>
               <span class="line-3"></span><br>
           </div>
          </div>
       </section>
    <section id="food">
          <img src="https://i.postimg.cc/CMsyxbHw/20200422-004228.jpg">
          <div class="header-text">
              <h1>Food Distribution</h1>
              <span class="square"></span>
              <p><big><i>
                Many children are also incapable of meeting their nutritional needs. Thus to fill up their stomachs, we regularly pack some food from our hostel mess and distribute it among children. We feel really happy when we witness the children's empty stomachs getting filled. many blissful moments are captured and many relationships with children are built during this time.
              </p></big></i>
              <div class="line">
                  <span class="line-1"></span><br>
                  <span class="line-2"></span><br>
                  <span class="line-3"></span><br>
              </div>
          </div>
     </section>
    <section id="map1">
          <img id="pho" style="width:500px" src="https://i.postimg.cc/xdMLMvRd/IMG-20200423-WA0015.jpg">
           <div class="right"></div>
           <div class="text">
              <h1><big><strong>Competitive exam preparation</strong></big></h1>
              <span class="square"></span>
             <q><blockquote><big> Apart from the prescribed syllabus, we prepare children for several competitive examinations such as NTSE, UPSC, GPSC, Navodaya. We also strive for giving them a National level platform where they can showcase their academic strength.</big></blockquote></q><br>
            <div class="line">
             <span class="line-1"></span><br>
             <span class="line-2"></span><br>
             <span class="line-3"></span><br>
          </div>
         </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <section id="map2">
          <img id="pho" style="width:500px" src="https://i.postimg.cc/ZYcFwLhB/IMG-20200423-WA0014.jpg">
            <div class="right"></div>
            <div class="text">
             <h1><big><strong>Dancing,Performance,<br>Drawing,Competition,<br>Workshops</strong></big></h1>
             <span class="square"></span>
             <q><blockquote><big> We make children participate in dancing performances, drawing, competitions, workshops etc.organised by our institute. This also provides the platform and an opportunity to show their talents. Several reviews and appreciation from the audience and encourage them to keep going.</big></blockquote></q><br>
            <div class="line">
              <span class="line-1"></span><br>
              <span class="line-2"></span><br>
              <span class="line-3"></span><br>
          </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id="map3">
        <img id="pho" style="width:500px" src="https://i.postimg.cc/xdMLMvRd/IMG-20200423-WA0015.jpg">
          <div class="right"></div>
          <div class="text">
              <h1><big><strong>Bus Tracking Application</strong></big></h1>
              <span class="square"></span>
              <q><blockquote><big> There are two to three buses running SVNIT campus to help students in commuting inside the campus. But lack of awareness about bus timings made the facility less efficient. We have thus come up with 'SVNIT BusWar' application which helps students in tracking bus location and navigating inside the campus.</big></blockquote></q><br>
              <div class="line">
                  <span class="line-1"></span><br>
                  <span class="line-2"></span><br>
                  <span class="line-3"></span><br>
              </div>
          </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <section id="map5">
        <img id="pho" style="width:400px" src="https://i.postimg.cc/RVJhWMGS/IMG-20200423-WA0017.jpg">
        <img id="pho" style="width:400px" src="https://i.postimg.cc/ncXjqKVt/IMG-20200423-WA0016.jpg">
           <div class="right"></div>
             <div class="text">
                <h1><big><strong>Birthday Celebrations</strong></big></h1>
                 <span class="square"></span>
                 <q><blockquote><big> We also celebrate our birthdays with children and offer them notebooks stationary food packets etc.Also we are gifted with hand made birthday cards from the children</big></blockquote></q><br>
              <div class="line">
                  <span class="line-1"></span><br>
                  <span class="line-2"></span><br>
                  <span class="line-3"></span><br>
              </div>
            </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id="map6">
          <img style="width:300px" src="https://i.postimg.cc/W4f1nnmv/IMG-20200423-WA0022.jpg">
          <img style="width:271px" src="https://i.postimg.cc/kgqGXDMk/IMG-20200423-WA0023.jpg">
          <img style="width:272px" src="https://i.postimg.cc/Nf1LcRt6/IMG-20200423-WA0025.jpg">
          <img style="width:259px" src="https://i.postimg.cc/V6p5YR5R/IMG-20200423-WA0026.jpg">
             <div class="right"></div>
             <div class="text">
               <h1><big><strong>Festival Celebrations</strong></big></h1>
               <span class="square"></span>
               <q><blockquote><big> The children are much eager to spend blissful moments with us. We thus try celebrating many festivals with them. This is the best time when our bonding with the children strengthens. We really feel elated when we spend a festival time with them</big></blockquote></q><br>
              <div class="line">
                  <span class="line-1"></span><br>
                  <span class="line-2"></span><br>
                  <span class="line-3"></span><br>
              </div>
          </div>
    </section>
    <section id="map7">
          <img id="pho" style="width:300px" src="https://i.postimg.cc/Pf8RQsBq/20200423-200331.jpg">
          <img id="pho" style="width:300px" src="https://i.postimg.cc/rsJWNpTb/20200423-200219.jpg">
          <img id="pho" style="width: 330px" src="https://i.postimg.cc/hvqb0wdJ/20200423-200247.jpg">
          <img id="pho" style="width:300px" src="https://i.postimg.cc/T18Q41Z3/20200423-200309.jpg">
              <div class="header-text">
                <h1>Inspirational Educational Personalities</h1>
              </div>
    </section>
    <section id="map8">
          <img id="pho" style="width:400px" src="https://i.postimg.cc/Pf8RQsBq/20200423-200331.jpg">
               <div class="header-text">
                 <h1>Rajesh Kumar Sharma</h1>
                 <span class="square"></span>
                 <p><big><i>
                  A college dropout Rajesh Kumar Sharma teaches 200 children from slums under a railway flyover near a Yamuna bank station in Delhi. Started from two in 2007, he has now been teaching over 200 children from 9 am to 12 pm. Inspite of not following a prescribed syllabus his initiative has now grown into a school defying all odds.
                  </p></big></i>        
                <div class="line">
                  <span class="line-1"></span><br>
                  <span class="line-2"></span><br>
                  <span class="line-3"></span><br>
                </div>
                </div>
    </section>
    <section id="map9">
         <img id="pho" style="width:400px" src="https://i.postimg.cc/rsJWNpTb/20200423-200219.jpg">
             <div class="header-text">
                 <h1>Aditya Kumar</h1>
                   <span class="square"></span>
                    <p><big><i>
                      Owning only a cycle. Aditya Kumar has spread education to the places where teachers, schools couldn't reach. He travels 60 to 65km daily to teach the poor in the way from Lucknow to Ranchi free of cost.His hard work has inspired us to keep spreading light and giving our best
                    </p></big></i>
                        <div class="line">
                        <span class="line-1"></span><br>
                        <span class="line-2"></span><br>
                        <span class="line-3"></span><br>
                </div>
                </div>
    </section>
    <section id="map10">
         <img id="pho" style="width:400px" src="https://i.postimg.cc/hvqb0wdJ/20200423-200247.jpg">
             <div class="header-text">
                 <h1>Anand Kumar</h1>
                    <span class="square"></span>
                    <p><big><i>
                       Founder of the famous 'Super 30'. A nand Kumar has been giving free coaching to the engineering aspirants and has helped 391 out of 450 students to clear IIT's from 2003 to 2017. He conducts yearly competitive test and selects best 30 students from the underpriviledged and tutors them. Apart from tutorials, he also provides them with study material,food and lodging.He has been doing so without taking any financial support from government or organization
                    </p></big></i>                
                        <div class="line">
                        <span class="line-1"></span><br>
                        <span class="line-2"></span><br>
                        <span class="line-3"></span><br>
                </div>
                </div>
    </section>
    <section id="map11">
         <img id="pho" style="width:400px" src="https://i.postimg.cc/T18Q41Z3/20200423-200309.jpg">
          <div class="header-text">
              <h1>Abdul Malik</h1>
                <span class="square"></span>
                 <p><big><i>
                  Living in Malapuram, Kerala this 42-year-old maths teacher has never missed a class. The distance between his home and school is a 24 km long journey. To avoid this he has been swimming through a river from home to school and back over 20years. This shows the pain our teachers put in teaching us.
                  </p></big></i>        
                          <div class="line">
                          <span class="line-1"></span><br>
                          <span class="line-2"></span><br>
                          <span class="line-3"></span><br>
            </div>
           </div>
    </section>
    <section id="features">
        <div class="row">
             <div class="col">
               <img  src="https://img.pngio.com/collection-of-free-transparent-logo-book-download-on-ui-ex-png-books-black-and-white-400_400.png"></img>
                 <h4>Education</h4>
                 <q>Provides education to those who can't afford</q>
            </div>
            <div class="col">
              <img src="https://www.shareicon.net/data/512x512/2016/02/27/725856_people_512x512.png"></img>
              <h4>Children</h4>
              <q>children are the future </q>
            </div>
            <div class="col">
              <img src="https://cdn4.iconfinder.com/data/icons/significon/512/Significon-Bulb-512.png"></img>
              <h4>enlightment</h4>
              <q>Education is the powerful weapon to change the world</q>
            </div>
            <div class="col">
                <img src="https://image.flaticon.com/icons/png/512/27/27705.png"></img>
                <h4>NGO</h4>
                <q>Edignite is a NGO group</q>
                </div>
            </div>
         </div>
    </section>
    <section class="footer">
      <div class="align">
       <p> @2020 Edignite Made by @Sankirtana</p>
     </div>  
    </section>
     </div>
</body>
</html>